:root {
  --body_background: hsl(206, 94%, 87%);
  --body_color: black;
  --body_link: navy;
  --form_background: white;
  --form_color: hsl(213, 96%, 18%);
  --button_bg_color: hsl(213, 96%, 18%);
  --button_color: white;
}

[data-theme = "dark"] {
  --body_background: #282c34;
  --body_color: white;
  --body_link: cyan;
  --form_background:  hsl(213, 96%, 18%);
  --form_color: white;
  --button_bg_color: white;
  --button_color: hsl(213, 96%, 18%);;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body_background);
  color: var(--body_color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

p {
  color: hsl(231, 11%, 63%);
}

::placeholder {
  color: hsl(231, 11%, 63%);
  font-weight: 500;
}

* {
  box-sizing: border-box;
  font-family: 'Ubuntu', sans-serif;
}