:root {
  --body_background: hsl(206, 94%, 87%);
  --body_color: black;
  --body_link: navy;
  --form_background: white;
  --form_color: hsl(213, 96%, 18%);
  --button_bg_color: hsl(213, 96%, 18%);
  --button_color: white;
  --button_color_hover: hsl(211, 100%, 40%);
  --back_button_color: hsl(213, 96%, 18%);
  --primary_blue: hsl(213, 96%, 18%);
  --primary_gray: hsl(231, 11%, 63%);
  --plan_card_bg: white; 
  --plan_card_bg_hover: hsl(231, 11%, 96%); 
  --price_color:  hsl(243, 100%, 62%);
}

[data-theme="dark"] {
  --body_background: #282c34;
  --body_color: white;
  --body_link: cyan;
  --form_background: hsl(213, 96%, 18%);
  --form_color: white;
  --button_bg_color: white;
  --button_color: hsl(213, 96%, 18%);
  --back_button_color: white;
  --button_color_hover: hsl(231, 11%, 63%);
  --plan_card_bg: #483EFF;
  --plan_card_bg_hover: #6259FF;
  --price_color: white;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--body_background);
  color: var(--body_color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

p {
  color: var(--primary_gray);
}

::placeholder {
  color: var(--primary_gray);
  font-weight: 500;
}

* {
  box-sizing: border-box;
  font-family: "Ubuntu", sans-serif;
}
